<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.1" />
  <package id="MySqlConnector" version="2.3.7" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Runtime.Loader" version="4.3.0" manuallyInstalled="true" />
  <package id="System.Security.AccessControl" version="4.7.0" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.4.0" manuallyInstalled="true" />
  <package id="System.Security.Permissions" version="4.7.0" manuallyInstalled="true" />
  <package id="System.Security.Principal.Windows" version="4.7.0" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" manuallyInstalled="true" />
  <package id="System.Text.Encodings.Web" version="7.0.0" />
  <package id="System.Text.Json" version="7.0.1" manuallyInstalled="true" />
</packages>